server.port: 8085
spring.application.name: availability

app.config-server: localhost
app.database: localhost
app.user-service: localhost
app.group-service: localhost
spring:
  mvc:
    format:
      date: yyyy-MM-dd
  cloud:
    config:
      import-check:
        enabled: false
  datasource:
    url: jdbc:postgresql://${app.database}:5432/test_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  cloud.config:
    failFast: true
    retry:
      initialInterval: 3000
      multiplier: 1.3
      maxInterval: 10000
      maxAttempts: 20
    uri: http://${app.config-server}:8888

---
spring.config.activate.on-profile: docker
spring.config.import: "configserver:"
app.config-server: config-server
app.database: postgres
app.user-service: user
app.group-service: group

---

spring.config.activate.on-profile: test
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true

