server.port: 8082
spring.application.name: trip-group

app.salt-length: 162
app.config-server: localhost
app.database: localhost
app.accommodation-service: localhost
app.finance-service: localhost
app.user-service: localhost

spring:
  cloud:
    config:
      import-check:
        enabled: false
  datasource:
    url: jdbc:postgresql://${app.database}:5432/test_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  cloud.config:
    failFast: true
    retry:
      initialInterval: 3000
      multiplier: 1.3
      maxInterval: 10000
      maxAttempts: 20
    uri: http://${app.config-server}:8888
  profiles:
    active: default

---
spring.config.activate.on-profile: docker
spring.config.import: "configserver:"
app.config-server: config-server
app.database: postgres
app.accommodation-service: accommodation
app.finance-service: finance-optimizer
app.user-service: user

---
spring.config.activate.on-profile: test
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true